body {
    direction: rtl;
    margin: 0;
    font-weight: bold;
}

.box {
    padding: 2rem;
    background: white;
    border-radius: 0 0 10px 10px;
    inset-inline-end: 35vw;
    width: 30vw;
    font-family: sans-serif;
    font-size: calc(1.75 * 1rem);
}

#dialogboxfoot {
    display: flex;
    justify-content: end;
}

.main {
    background-image: url(../assets/images/blue-bg.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: auto;
}
.main::before {
    content: 'Copyright 2022 © EF eq4606@gmail.com';
    position: absolute;
    color: white;
    font-family: system-ui;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 5px;
    bottom: 90px;
}

.airplane-img {
    position: absolute;
    width: 50vw;
    inset: 5vw;
    transform: rotate(7deg);
}

.airplane-txt {
    position: absolute;
    inset: 8vw;
    inset-block-start: 20vw;
    transform: rotate(7deg);
    font-size: 8vw;
    color: white;
}

.tm-img {
    position: absolute;
    width: 30vw;
    inset: 17vw 5vw;
}

.together-img {
    position: fixed;
    width: 25vw;
    margin: 2.5vw;
    inset-inline-end: 0;
    inset-block-end: 0;
}

.right {
    width: 65vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img.bg {
    height: 580px;
}

.left {
    position: absolute;
    width: 40vw;
    padding: 5vw 10vw;
    top: 0;
    inset-inline-end: 0;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-end;
}

.bottom {
    bottom: 0;
    position: absolute;
}

.center {
    margin-inline: auto;
    margin-block: 1rem;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.d-none {
    display: none !important;
}

video {
    display: block;
    width: 50vw;
    margin: auto;
}

h2 {
    color: white;
    text-align: center;
}

.computer-wrapper {
    height: 580px;
    position: relative;
}

.computer-wrapper button {
    position: absolute;
    bottom: 94px;
    inset-inline-start: 95px;
    height: 90px;
    width: 130px;
    background-color: transparent;
}

.comp {
    width: 17%;
    height: 16%;
    position: absolute;
    top: 64%;
    right: 13%;
}

.compScreen {
    position: relative;
    height: 100vh;
    width: 141vh;
    margin: auto;
}

#savescreen {
    background-image: url(../files/page2/savescreen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#screen {
    background-image: url(../files/page2/bg-comp.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-color: #008286;
}

.unvisible {
    position: absolute;
    background: transparent;
    margin: 1px;
    padding: 0;
    min-width: unset;
    border-radius: unset;
}

#startBtn {
    position: absolute;
    inset-inline-end: 0;
    height: 7vh;
}

.pointer {
    cursor: pointer;
}

.errbtn {
    position: absolute;
    height: 18%;
    top: 69%;
    inset-inline: 52%;
    width: 39%;
}

#cancel {
    inset-inline: 9%;
}

#docbtn {
    width: 100%;
    position: absolute;
    height: 8vh;
    top: 8vh;
}

#openedStart {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64vh;
}

#err {
    width: 30%;
    position: absolute;
    top: 35%;
    right: 35%;
    z-index: 11;
}

#documentsMsg {
    width: 55%;
    position: absolute;
    top: 18%;
    right: 22%;
}

#back {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .25;
    background: black;
    z-index: 10;
    pointer-events: none;
}

.row {
    width: 100%;
    display: flex;
    height: 25%;
    justify-content: space-between;
}

.col {
    max-width: 25%;
    flex: 25%;
    background-size: cover;
}

.col:active {
    height: calc(100% - 10px);
    flex: calc(25% - 10px);
    max-width: calc(25% - 10px);
    border-style: solid;
    border-width: 5px;
    border-top-color: #eee;
    border-left-color: #999;
    border-bottom-color: #666;
    border-right-color: #333;
    border-radius: 5px;
}

.col img {
    width: 100%;
}

button.col {
    height: 100%;
    padding: 0;
    margin: 0;
}

#water-mark {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, .5);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    text-align: center;
    box-sizing: border-box;
    padding-block: 20%;
    color: black;
}

.programs {
    width: 40vh;
    margin-inline-start: auto;
    margin-inline-end: 0;
}

.prog {
    height: 15vh;
}

#docerr {
    position: absolute;
    top: 25%;
    inset-inline: 2%;
    padding: 5%;
    font-size: larger;
    background: #c2c6cb;
    width: 62%;
    text-align: start;
    color: #151518;
    font-family: sans-serif;
}

.audio-controls button {
    border-radius: 100%;
    width: 50px;
    padding: 0;
    display: inline;
}

.safes {
    position: absolute;
    display: flex;
    height: 580px;
}

.safe {
    height: 60%;
    margin: auto 20px;
}

.puzzle {
    display: flex;
    flex-flow: column;
    width: 60%;
}

.puzzle label {
    margin-block: 1rem;
}

.puzzle div {
    display: flex;
}

.ans {
    background: unset;
    padding: 0;
    width: unset;
    height: unset;
    margin: 0;
    flex: 1 0 33.3%;
    max-width: 33.3%;
}

.ans img {
    width: 100%;
}

.emergency-wrapper {
    height: 450px;
    position: relative;
}

.emergency-input {
    position: absolute;
    bottom: 76px;
    height: 64px;
    width: 365px;
    inset-inline-start: 227px;
    font-size: 2rem;
}

.panel {
    position: absolute;
    bottom: 3vh;
    width: 100%;
}

.compBtn {
    width: 30%;
    background-color: rgba(250, 250, 250, .5);
    border-radius: 0;
    border: 4px solid lightslategray;
    margin-inline: auto;
}

.compBtn:hover,
.compBtn:focus {
    opacity: .75;
}